* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "Sans-serif"
}

h1 {
    font-family: "Playfair+Display", "Sans-serif";
}

img {
    max-width: 300px;
}

.top {
    width: 100%;
    height: 600px;
    transform: skewX(-12deg);
    background-color: rgb(0, 187, 255);
}

.logo {
    width: 50px;
    height: 50px;
}