* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "Sans-serif"
}

h1 {
    font-family: "Playfair+Display", "Sans-serif";
}

p {
    line-height: 1.6;
}

img {
    max-width: 300px;
}

/* border for design purpose */
.aboutContent,
h1 {
    border: 2px solid black;
}

/* about section */
.about {
    width: 100%;
    height: auto;
    min-height: 700px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.diagonalBlue {
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: blue;
    transform: skewX(-80deg) translateX(-1400px) scaleX(6);
}

.aboutContent {
    max-width: 1000px;
    height: auto;
    display: flex;
}

.manPhoto {
    transform: scale(1.2) translateX(-25px);
}

.aboutText {
    min-width: 300px;
    background-color: white;
    padding: 30px;
}

/* My Work section */
.myWork {
    width: 100%;
    min-height: 1000px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.workTitle {
    font-size: 45px;
    margin-bottom: 30px;
}

.projectContainer {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    margin-right: 80px;
}

.project {
    min-width: 400px;
    height: 500px;
    box-shadow: 5px 5px 10px rgb(70, 69, 69)
}

.projectPhoto {
    height: 65%;
    font-size: 30px;
    background-color: rgb(0, 255, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectDescription {
    height: 35%;
    padding: 20px;
}

/* Footer section */
footer {
    width: 100%;
    height: 800px;
    background-color: blue;
    display: flex;
}

.footerImg {
    width: 400px;
    height: 400px;
}

.logo {
    width: 50px;
    height: 50px;
}